{"openapi":"3.1.0","info":{"title":"Paddock — Agent Commerce Data","description":"Live x402 and MPP transaction volume for the AI agent economy — what AI agents are paying for, broken down by category, with spend share, provider counts, and market concentration. The neutral, citable data layer for agent commerce. Free tools: get_market_summary, get_category_detail. Paid tools (Builder $99/mo · 10k calls/day, Pro Agent $499/mo unlimited + archive, or x402 per-query): get_niche_gaps, get_best_value_provider, get_liveness, get_changes, get_report_data, get_circular_signal, get_whale_activity, get_token_metrics.","version":"3.1.0","contact":{"url":"https://x.com/PaddockFinance"}},"servers":[{"url":"https://paddock.finance"}],"paths":{"/api/paddock/mcp/summary":{"get":{"operationId":"get_market_summary","summary":"x402 transaction volume by category — live AI agent commerce market summary","description":"Returns current x402 transaction volume, top spending categories, live server count, and market overview. Free — no authentication required.","security":[],"responses":{"200":{"description":"Market summary with category breakdown","content":{"application/json":{"schema":{"type":"object","properties":{"date":{"type":"string"},"summary":{"type":"object","properties":{"daily_transactions":{"type":"number"},"daily_volume_usdc":{"type":"string"},"unique_buyer_agents":{"type":"number"},"live_service_providers":{"type":"number"}}},"top_categories":{"type":"array","items":{"type":"object","properties":{"category":{"type":"string"},"daily_transactions":{"type":"number"},"providers":{"type":"number"},"share_of_volume":{"type":"string"}}}},"insight":{"type":"string"},"subscription_url":{"type":"string"}}}}}}}}},"/api/paddock/mcp/category":{"get":{"operationId":"get_category_detail","summary":"Agent spending by category — services, transaction volume, and pricing in one x402 commerce category","description":"Returns all services in a category with transaction counts, pricing, and reliability scores. Free — no authentication required.","security":[],"parameters":[{"name":"name","in":"query","required":true,"description":"Category id: llm, data, search, infra, content, markets, payments, or comms","schema":{"type":"string","enum":["llm","data","search","infra","content","markets","payments","comms"]}}],"responses":{"200":{"description":"Category detail with services and reliability","content":{"application/json":{"schema":{"type":"object","properties":{"category":{"type":"string"},"summary":{"type":"object","properties":{"total_daily_transactions":{"type":"number"},"provider_count":{"type":"number"},"market_status":{"type":"string"}}},"services":{"type":"array","items":{"type":"object","properties":{"service":{"type":"string"},"domain":{"type":"string"},"daily_transactions":{"type":"number"},"unique_buyers":{"type":"number"}}}}}}}}}}}},"/api/paddock/mcp/gaps":{"get":{"operationId":"get_niche_gaps","summary":"Where AI agents are underserved — market concentration and niche-gap analysis across every agent commerce category","description":"Ranks every category in today's snapshot by opportunity_score = log10(1 + daily_transactions) / max(providers, 1). Returns share, top_provider_share, opportunity_score, and a signal (Consolidating | Open | Tightening | Mature) per category. Auth: X-Paddock-Key header (Builder $99/mo · 10k calls/day, Pro Agent $499/mo unlimited) or x402 per-query at $0.01 USDC.","x-payment-info":{"protocols":"x402","price":{"mode":"fixed","currency":"USD","amount":"0.01"}},"security":[{"x402Payment":[]}],"parameters":[{"name":"top","in":"query","required":false,"description":"Limit results to the top N categories by opportunity_score. Omit to return all categories (up to 50).","schema":{"type":"integer","minimum":1,"maximum":50}}],"responses":{"200":{"description":"All categories ranked by opportunity_score (descending)","content":{"application/json":{"schema":{"type":"object","properties":{"tool":{"type":"string"},"date":{"type":"string"},"paid_via":{"type":"string"},"categories":{"type":"array","items":{"type":"object","properties":{"category":{"type":"string"},"category_id":{"type":"string"},"daily_transactions":{"type":"number"},"providers":{"type":"number"},"share":{"type":"number"},"top_provider_share":{"type":"number"},"opportunity_score":{"type":"number"},"signal":{"type":"string"},"paddock_url":{"type":"string"}}}},"methodology":{"type":"object"}}}}}},"402":{"description":"Payment required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequired"}}}},"429":{"description":"Rate limit exceeded (Builder tier: 10,000 calls/day)"}}}},"/api/paddock/mcp/best-value":{"get":{"operationId":"get_best_value_provider","summary":"Cheapest reliable provider in a category — rank x402 services by price, reliability, and reputation","description":"Returns every provider in the given category ranked by a composite score: (success_rate_7d × 0.40) + (reputation_norm × 0.30) + ((1 − price_norm) × 0.30). Auth: X-Paddock-Key (Builder/Pro Agent) or x402 per-query at $0.02 USDC.","x-payment-info":{"protocols":"x402","price":{"mode":"fixed","currency":"USD","amount":"0.02"}},"security":[{"x402Payment":[]}],"parameters":[{"name":"category","in":"query","required":true,"description":"Category id or alias. Valid ids: llm, data, search, infra, content, markets, payments, comms.","schema":{"type":"string"}}],"responses":{"200":{"description":"Providers in the category, ranked by composite_score (descending)","content":{"application/json":{"schema":{"type":"object","properties":{"tool":{"type":"string"},"date":{"type":"string"},"category":{"type":"string"},"category_label":{"type":"string"},"paid_via":{"type":"string"},"providers":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"title":{"type":["string","null"]},"price_usdc":{"type":["number","null"]},"liveness_score":{"type":["number","null"]},"success_rate_7d":{"type":["number","null"]},"tx_count":{"type":"number"},"unique_buyers":{"type":"number"},"composite_score":{"type":"number"},"rank":{"type":"number"}}}},"formula":{"type":"object"}}}}}},"400":{"description":"Missing or invalid ?category= parameter"},"402":{"description":"Payment required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequired"}}}},"429":{"description":"Rate limit exceeded (Builder tier: 10,000 calls/day)"}}}},"/api/paddock/mcp/liveness":{"get":{"operationId":"get_liveness","summary":"Is this x402 service up right now — per-domain liveness, success rate, and latency","description":"Returns the latest liveness probe data for one domain. up = success_rate_7d >= 0.95. Auth: X-Paddock-Key (Builder/Pro Agent) or x402 per-query at $0.001 USDC.","x-payment-info":{"protocols":"x402","price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"security":[{"x402Payment":[]}],"parameters":[{"name":"domain","in":"query","required":true,"description":"Hostname to look up (e.g. api.example.com).","schema":{"type":"string"}}],"responses":{"200":{"description":"Liveness record for the domain","content":{"application/json":{"schema":{"type":"object","properties":{"tool":{"type":"string"},"paid_via":{"type":"string"},"domain":{"type":"string"},"up":{"type":"boolean"},"score":{"type":"number"},"success_rate_7d":{"type":"number"},"latency_p50_ms":{"type":"number"},"latency_p95_ms":{"type":"number"},"samples_7d":{"type":"number"},"last_probed_at":{"type":"string"}}}}}},"400":{"description":"Missing ?domain= parameter"},"402":{"description":"Payment required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequired"}}}},"404":{"description":"Domain not tracked in liveness data"},"429":{"description":"Rate limit exceeded (Builder tier: 10,000 calls/day)"}}}},"/api/paddock/mcp/changes":{"get":{"operationId":"get_changes","summary":"What changed in AI agent spending — diff agent commerce market data between two dates","description":"Returns new_services, retired_services, category_movements (|delta_pp| ≥ 3), and top_movers (|pct_change| ≥ 50%) between two snapshots. `since` is capped at 90 days ago (full-fidelity retention). Auth: X-Paddock-Key (Builder/Pro Agent) or x402 per-query at $0.10 USDC.","x-payment-info":{"protocols":"x402","price":{"mode":"fixed","currency":"USD","amount":"0.10"}},"security":[{"x402Payment":[]}],"parameters":[{"name":"since","in":"query","required":true,"description":"Earlier date in YYYY-MM-DD (max 90 days ago).","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$"}}],"responses":{"200":{"description":"Diff between today's snapshot and the snapshot at ?since","content":{"application/json":{"schema":{"type":"object","properties":{"tool":{"type":"string"},"paid_via":{"type":"string"},"since":{"type":"string"},"today":{"type":"string"},"limited_to_rollup_only":{"type":"boolean"},"new_services":{"type":"array","items":{"type":"object"}},"retired_services":{"type":"array","items":{"type":"object"}},"category_movements":{"type":"array","items":{"type":"object"}},"top_movers":{"type":"array","items":{"type":"object"}},"summary":{"type":"string"}}}}}},"400":{"description":"Missing or invalid ?since= parameter"},"402":{"description":"Payment required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequired"}}}},"429":{"description":"Rate limit exceeded (Builder tier: 10,000 calls/day)"}}}},"/api/paddock/mcp/circular-signal":{"get":{"operationId":"get_circular_signal","summary":"Wash/circular-settlement signal per facilitator — aggregate, no wallet or operator identity","description":"Returns the wash/circular-settlement signal aggregated PER FACILITATOR (methodology v0.1): cluster count, cluster volume (30d/7d), self-funding %, external-payer count, flagged share of settlement, and trend. Patterns attach to the facilitator only — no seller wallet addresses, operator identity, or per-wallet rows are ever returned. Auth: X-Paddock-Key (Builder/Pro Agent) or x402 per-query at $0.99 USDC. One free trial call per day per IP.","x-payment-info":{"protocols":"x402","price":{"mode":"fixed","currency":"USD","amount":"0.99"}},"security":[{"x402Payment":[]}],"parameters":[{"name":"window","in":"query","required":false,"description":"Reporting window for the trend context (default 30d).","schema":{"type":"string","enum":["7d","30d"]}}],"responses":{"200":{"description":"Aggregate circular-settlement signal per facilitator","content":{"application/json":{"schema":{"type":"object","properties":{"tool":{"type":"string"},"paid_via":{"type":"string"},"window":{"type":"string"},"methodology_version":{"type":"string"},"facilitators":{"type":"array","items":{"type":"object","properties":{"facilitator":{"type":"string"},"cluster_count":{"type":"number"},"cluster_volume_30d_usdc":{"type":"string"},"cluster_volume_7d_usdc":{"type":"string"},"self_funding_pct":{"type":"number"},"external_payer_count":{"type":"number"},"flagged_share_of_settlement":{"type":"number"},"trend":{"type":"string"}}}}}}}}},"402":{"description":"Payment required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequired"}}}},"429":{"description":"Rate limit exceeded (Builder tier: 10,000 calls/day)"}}}},"/api/paddock/mcp/whale-activity":{"get":{"operationId":"get_whale_activity","summary":"Large settlements and movers — aggregate by facilitator, category, and size band","description":"Returns large settlements / large movers over a window, AGGREGATE: amounts and counts by facilitator, by category, and by size band, plus per-category mover counts. Describes size and where, never who — no individual seller identity is returned. Auth: X-Paddock-Key (Builder/Pro Agent) or x402 per-query at $0.99 USDC. One free trial call per day per IP.","x-payment-info":{"protocols":"x402","price":{"mode":"fixed","currency":"USD","amount":"0.99"}},"security":[{"x402Payment":[]}],"parameters":[{"name":"min_usd","in":"query","required":false,"description":"Large-settlement threshold in USD (default 1000).","schema":{"type":"number","minimum":0}},{"name":"window","in":"query","required":false,"description":"Mover comparison window in days (1-90, default 7).","schema":{"type":"integer","minimum":1,"maximum":90}}],"responses":{"200":{"description":"Aggregate large-settlement and mover activity","content":{"application/json":{"schema":{"type":"object","properties":{"tool":{"type":"string"},"paid_via":{"type":"string"},"min_usd":{"type":"number"},"window_days":{"type":"number"},"by_facilitator":{"type":"array","items":{"type":"object"}},"by_category":{"type":"array","items":{"type":"object"}},"by_size_band":{"type":"array","items":{"type":"object"}},"category_mover_counts":{"type":"array","items":{"type":"object"}}}}}}},"402":{"description":"Payment required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequired"}}}},"429":{"description":"Rate limit exceeded (Builder tier: 10,000 calls/day)"}}}},"/api/paddock/mcp/token-metrics":{"get":{"operationId":"get_token_metrics","summary":"First-party chart and time-series data by metric and date range, plus the ACI series","description":"Returns the same chart-series the public /charts page reads, plus the Agent Commerce Index (ACI) series — queryable by metric and date range. Metrics: spend_share_over_time, daily_transactions, category_concentration, new_services, liveness_score, aci. Auth: X-Paddock-Key (Builder/Pro Agent) or x402 per-query at $0.01 USDC. One free trial call per day per IP.","x-payment-info":{"protocols":"x402","price":{"mode":"fixed","currency":"USD","amount":"0.01"}},"security":[{"x402Payment":[]}],"parameters":[{"name":"metric","in":"query","required":true,"description":"Which series to return.","schema":{"type":"string","enum":["spend_share_over_time","daily_transactions","category_concentration","new_services","liveness_score","aci"]}},{"name":"category","in":"query","required":false,"description":"Category id for category_concentration (e.g. llm).","schema":{"type":"string"}},{"name":"days","in":"query","required":false,"description":"Lookback window in days for the chart series (1-730, default 90).","schema":{"type":"integer","minimum":1,"maximum":730}},{"name":"from","in":"query","required":false,"description":"Start month YYYY-MM (aci metric only).","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}$"}},{"name":"to","in":"query","required":false,"description":"End month YYYY-MM (aci metric only).","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}$"}}],"responses":{"200":{"description":"Chart/time-series data for the requested metric","content":{"application/json":{"schema":{"type":"object","properties":{"tool":{"type":"string"},"paid_via":{"type":"string"},"metric":{"type":"string"},"series":{"type":"array","items":{"type":"object"}}}}}}},"400":{"description":"Missing or invalid ?metric= parameter"},"402":{"description":"Payment required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequired"}}}},"429":{"description":"Rate limit exceeded (Builder tier: 10,000 calls/day)"}}}},"/api/paddock/mcp/report-data/paid":{"get":{"operationId":"get_report_data","summary":"State of Agent Commerce report data — monthly AI agent economy trends, ACI index, and category breakdowns","description":"Returns the full machine-readable JSON of the monthly State of Agent Commerce report: ecosystem trends, category breakdowns, the Agent Commerce Index (ACI v1.0) with component decomposition, protocol comparison, and reliability data. Auth: X-Paddock-Key (Builder $99/mo current month, Pro Agent $499/mo all history) or x402 per-query at $0.99 USDC. Unauthenticated requests receive the HTTP 402 x402 v2 challenge. Free metadata (no payment) at /api/paddock/mcp/report-data. Full report for people at https://paddock.finance/report ($299/mo).","x-payment-info":{"protocols":"x402","price":{"mode":"fixed","currency":"USD","amount":"0.99"}},"security":[{"x402Payment":[]}],"parameters":[{"name":"month","in":"query","required":false,"description":"Report month in YYYY-MM format (e.g. 2026-06). Defaults to latest published month.","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}$"}}],"responses":{"200":{"description":"Full report data (paid)","content":{"application/json":{"schema":{"type":"object","properties":{"tool":{"type":"string"},"month":{"type":"string"},"title":{"type":"string"},"published_at":{"type":"string"},"table_of_contents":{"type":"array","items":{"type":"string"}},"executive_summary_excerpt":{"type":"string"},"paid_via":{"type":"string"},"data":{"type":"object"},"paddock_url":{"type":"string"}}}}}},"402":{"description":"Payment required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentRequired"}}}},"403":{"description":"Builder tier: current month only. Upgrade to Pro Agent for full history."},"429":{"description":"Rate limit exceeded (Builder tier: 10,000 calls/day)"}}}},"/api/paddock/mcp/report-data":{"get":{"operationId":"get_report_data_free_metadata","summary":"State of Agent Commerce report metadata — free preview (title, TOC, executive summary excerpt)","description":"Returns free report metadata without payment: title, table of contents, and an executive summary excerpt (<200 words), plus payment details for the full data. Full structured data: use /api/paddock/mcp/report-data/paid (x402 $0.99 USDC or Paddock API key).","security":[],"parameters":[{"name":"month","in":"query","required":false,"description":"Report month in YYYY-MM format (e.g. 2026-06). Defaults to current published month.","schema":{"type":"string","pattern":"^\\d{4}-\\d{2}$"}}],"responses":{"200":{"description":"Report data (full if paid, metadata only if free)","content":{"application/json":{"schema":{"type":"object","properties":{"tool":{"type":"string"},"access":{"type":"string"},"month":{"type":"string"},"title":{"type":"string"},"table_of_contents":{"type":"array","items":{"type":"string"}},"executive_summary_excerpt":{"type":"string"},"data":{"type":"object"}}}}}},"403":{"description":"Builder tier: current month only. Upgrade to Pro Agent for full history."}}}}},"components":{"securitySchemes":{"ProApiKey":{"type":"apiKey","in":"header","name":"X-Paddock-Key","description":"Paddock API key (Builder or Pro Agent subscription). See https://paddock.finance/api-access"},"x402Payment":{"type":"http","scheme":"x402","description":"Per-query x402 micropayment on Base mainnet (USDC). See x-payment-info on each operation for amount and payTo address. Compatible with any x402-capable wallet (AgentCash, Coinbase CDP, etc.)."}},"schemas":{"PaymentRequired":{"type":"object","required":["x402Version","resource","accepts"],"properties":{"x402Version":{"type":"integer","example":2},"error":{"type":"string","example":"Payment required"},"resource":{"type":"object","required":["url"],"properties":{"url":{"type":"string","example":"https://paddock.finance/api/paddock/mcp/gaps"},"description":{"type":"string"},"mimeType":{"type":"string","example":"application/json"}}},"accepts":{"type":"array","items":{"type":"object","required":["scheme","network","amount","asset","payTo","maxTimeoutSeconds"],"properties":{"scheme":{"type":"string","example":"exact"},"network":{"type":"string","example":"eip155:8453"},"amount":{"type":"string"},"asset":{"type":"string"},"payTo":{"type":"string"},"maxTimeoutSeconds":{"type":"number","example":300},"extra":{"type":"object"}}}},"tool":{"type":"string"},"status":{"type":"string","example":"pro_required"}}}}}}